venv/
.idea/
__pycache__/
py/__pycache__/

basins/data/raster/accum_basins/*
basins/data/raster/flowdir_basins/*
basins/data/shp/merit_catchments/*
basins/data/shp/merit_rivers/*

basins/output/*
basins/plots/*
basins/view/*
basins/DSI*.csv

test.ipynb